:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsl(0, 0%, 95%);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  border: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-size: 15px;
}

main {
  padding: 4rem 1.6rem;
}

section {
  padding: 2.95rem;
}

section p,
a {
  font-family: 'Lexend Deca', sans-serif;
}

section img {
  width: 3.5rem;
}

h2 {
  color: var(--very-light-gray);
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.25rem;
  margin-top: 1.5rem;
}

p {
  color: var(--very-light-gray);
  line-height: 1.5rem;
  font-size: 0.80rem;
  margin: 1.5rem 0 1.75rem;
}

a {
  background-color: var(--very-light-gray);
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--very-light-gray);
  border-radius: 24px;
}

#sedans-section {
  background-color: var(--bright-orange);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#suvs-section {
  background-color: var(--dark-cyan);
}

#luxury-section {
  background-color: var(--very-dark-cyan);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#sedans-link {
  color: var(--bright-orange);
}

#sedans-link:hover {
  background-color: var(--bright-orange);
  color: var(--very-light-gray);
}

#suvs-link {
  color: var(--dark-cyan);
}

#suvs-link:hover {
  background-color: var(--dark-cyan);
  color: var(--very-light-gray);
}

#luxury-link {
  color: var(--very-dark-cyan);
}

#luxury-link:hover {
  background-color: var(--very-dark-cyan);
  color: var(--very-light-gray);
}

@media (min-width: 1440px) {
  main {
    height: 100%;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 280px;
    height: 480px;
  }

  section img {
    width: 5rem;
  }

  h2 {
    font-size: 2.75rem;
    margin-top: 1.75rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1.75rem 0 8rem;
  }

  a {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }


  #sedans-section {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }

  #luxury-section {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }
}